<header>
  <div>
    <div>
      <p>
        v<%= Application.spec(:phoenix, :vsn) %>
      </p>
    </div>
  </div>
</header>
<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>